<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header mx-auto">
                registro de cuenta
            </div>
            <img src="/img/logo.jpg" alt="" class="rounded-circle mx-auto d-block m-4 logo ">
            <div class="card-body">
                <form action="/users/signin" method="POST" >
                     <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="ingresa tu correo">
                    </div>
                     <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="ingresa una contraseña">
                    </div>
                    <button class="btn btn-primary btn-block">
                        ingresar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>